.navbar-dark{
    background-color: #17a2b8;
    color: #fff;;
}
.jumbotron {
    background-image: url("../img/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
    background-size: cover;
    color: #fff;
  }

  .row{
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .card{
      margin-bottom: 50px;;
  }

  .card-img-top{
      max-height: 215px;
  }

  .carousel{
    background: #17a2b8;
    text-shadow: black 1px 1px 2px;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 300px;;
}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 99;
}

#mycarousel{
    box-shadow:#444 1px 1px 10px;
}

div.media img {
    height: 120px;
    width: 150px;
}